/* ------------------------------------------------- BASE -------------------------------------------------------*/
/*FONDO CON IMAGEN Y SOMBREADO*/
body{
    background: linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url("../images/fondo.jpg");
    background-size: cover;         
    background-attachment: fixed;   
    margin: 0;                      
}
/*CONTAINER*/
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
/*TIPO DE LETRA*/
div.title,
li,
p, 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courier New', Courier, monospace;
}
/*TITULO*/
div.title {
    padding-top: 5vw;
    padding-bottom: 3vw;
    text-align: center;
    color: white;
    font-size: 5rem;
    line-height: 1;
}
/*BAR DE NAVEGACION*/
#navbar {
    width: auto;
    background-color:rgb(0, 87, 0);
}
/*CONTENIDO DEL BAR DE NAVEGACION*/
.nav-item {
    padding-right: 3vw;         
    font-size: 1.1rem;
}
/*LINKS QUE NO ESTAN "ACTIVOS"*/
.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.664);
}
/*LINK "ACTIVO*/
.nav-link.active {
    text-decoration: underline;
    color: white
}
/*PIE DE PAGINA*/
footer {
    position: relative;
    top: 6vw;
    height: 14vw;
    width: auto;
    color: rgba(255, 255, 255, 0.822);
    font-size: 0.9rem;
    line-height: 1.8;
    text-align: center;
    justify-content: center; 
    display: flex;
    align-items: center;
    background:linear-gradient( rgba(0, 87, 0, 0.808), rgba(0, 87, 0, 0.808));
}
/*TEXTO  "copy"*/
.copy{
    opacity: 0.6;
}
/*IMAGEN LOGO DJANGO*/
.logo {
    position: relative;
    height: 2rem;
    width: 2rem;
    left: -2.8rem;
    top: 1.7rem;
}
/*LOGO Y TEXTO*/
.S3 {
    position: fixed;
    color: white;
    top: 85vh;
    right: 5vw;
    opacity: 0.6;
    font-size: 0.9rem;
}
.link {
    color: white;   
    text-decoration: underline;
}

.link:hover{
    color: white;
    text-decoration: none;
}
/*TEXTOS PARA PANTALLA MENOR O IGUAL A 890 PX*/
@media (max-width: 890px) {
    div.title {
        font-size: 4rem; 
    }
    footer {
        font-size: 0.8rem;
        line-height: 1;
        height: 8rem;
    }
    .logo {
        height: 1.2rem;
        width: 1.2rem;
        top: 1.1rem;
        left: -2rem;
    }
    .S3 {
        font-size: 0.6rem;
        right: 2.5vw;    
    }
}

/* ------------------------------------------------- INICIO -------------------------------------------------------*/

/*IMAGEN*/
#imgprincipal { 
    position: relative;     
    top: 6vw;
    left: 6vw;
    height: 28rem;            
    width: 58vw; 
    border-radius: 5px;
}
/*PRIMER TEXT-BOX*/
div.section1 {
    position: relative;    
    top: -19rem;
    left: 52vw;
    height: 15rem;
    width: 35vw;
    border-radius: 5px;
    background-color:rgb(0, 87, 0);
    text-align: center;
    color: white;
    padding: 2% 2.5% 0% 2.5%;
}
/*TEXTO "h1" DE AMBOS TEXT-BOXES*/
.S1h1,
.S2h1 {
    font-size: 3.5vw;
    padding-bottom: 0.2vw;
}
/*TEXTO "h4" y "p" DE AMBOS TEXT-BOXES*/
.S1h4,
.S1p, 
.S2h4,
.S2p { 
    font-family: unset;
    font-size: 0.9rem;
    line-height: 1.8;
    padding-top: 1vw;
}


/*FONDO BLANCO DE SEGUNDO TEXT-BOX*/
div.section2 {
    position: relative;
    margin-top: -5vw;
    height: 28rem;
    width: 100%;
    background-color: white;
}
/*SEGUNDO TEXT-BOX*/
div.section22 {
    position: absolute;
    height: 16rem;
    width: 50vw;
    top: 6rem;
    left: 25vw;
    border-radius: 5px;
    background-color:rgb(0, 87, 0);
    text-align: center;
    color: white;
    padding: 2.5% 3% 0% 3%;
}
/*PANTALLA MENOR O IGUAL A 890 PX*/
@media (max-width: 890px) {
    #imgprincipal {    
        height: 40vw;            
        width: 88vw; 
    }
    div.section1 {  
        top: -5vw;
        left: 18vw;
        height: 12rem;
        width: 64vw;
        padding: 2.5% 6% 0% 6%;
    }
    .S1h1,
    .S2h1 {
        font-size: 5vw;
        padding-bottom: 0.2vw;
    }
    .S1h4,
    .S1p, 
    .S2h4,
    .S2p { 
        font-family: unset;
        font-size: 0.8rem;
        line-height: 1.8;
    }
    div.section2 {
        margin-top: 5vw;
        height: 24rem;
    }
    div.section22 {
        height: 14rem;
        width: 84vw;
        top: 5rem;
        left: 8vw;
        
    }
}


/* ------------------------------------------------- SERVICIOS -------------------------------------------------------*/
/*CONTAINER DE SERVICIOS*/
#containerServicios {
    margin-top: 5vw;
    margin-bottom: 5vw;
}
/*IMAGEN SERVICIOS*/
#imgservicios { 
    position: relative; 
    top: 15vw;                   
    margin-top: -15vw;           
    left: 6vw;
    height: 30vw;           
    width: 35vw; 
    border-radius: 5px;
}
/*TEXT-BOX SERVICIOS*/
div.servicios {
    position: relative;    
    top: -10vw;
    left: 48vw;
    height: 13rem;
    width: 32vw;
    border-radius: 5px;
    background-color:rgb(0, 87, 0);
    text-align: center;
    color: white;
    padding: 2% 2.5% 1% 2.5%;        
}
/*TEXTO "h4" TEXT-BOXES SERVICIOS*/
.h4servicios { 
    font-size: 2.4rem;
    line-height: 1;
}
/*TEXTO "p" TEXT-BOXES SERVICIOS*/
.pservicios { 
    font-family: unset;
    font-size: 1rem;
    line-height: 1.2;
    padding-top: 1.8vw;
}
/*PANTALLA MENOR O IGUAL A 890 PX*/
@media (max-width: 890px) {
    #imgservicios {            
        left: 12%;
        height: 48vw;           
        width: 76%;             
        top: -5vw;
        margin-top: 10vw;         
    }
    div.servicios {  
        top: -2vw;
        left: 22%;
        height: 10rem;
        width: 56%;
        padding: 2% 2.5% 1% 2.5%;        
    }
    .h4servicios { 
        font-size: 2.2rem;
        line-height: 1;
    }
    .pservicios { 
        font-size: 0.8rem;
        line-height: 1.2;
    }
}
/*PANTALLA MENOR O IGUAL A 350PX*/
@media (max-width: 350px) {
    div.servicios {  
        left: 12%;
        width: 76%;       
    }
}

/* ------------------------------------------------- CONTACTO -------------------------------------------------------*/
/*CONTAINER DE CONTACTO*/
#containerContacto {
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#detalleContacto {
    color: white;
}

#formContacto{
    color: white;
}

#LinkContacto {
    color: white;   
    text-decoration: underline;
}

#LinkContacto:hover{
    color: white;
    text-decoration: none;
}

#BotonEnviar {
    color: white;
    background-color:rgb(0, 87, 0);
    width: 8rem;
    height: 3rem;
}

#BotonEnviar:hover {
    background: linear-gradient( rgba(0, 87, 0, 0.808), rgba(0, 87, 0, 0.808));
    
}

#Enviado {
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#confirmacion {
    background-color:rgb(0, 131, 0);
    color: white;
    border-color: rgb(0, 131, 0);
}

/* ------------------------------------------------- BLOG -------------------------------------------------------*/
/*CONTAINER DE BLOG*/
#containerBlog {
    margin-top: 5vw;
    margin-bottom: -5vw;
}
/*CARDS*/
div.card{
    background-color:rgb(0, 87, 0);
    color: white;
    border-radius: 8px;
    margin-bottom: 5vw;
}
/*TEXTO "p" CARDS*/
.card-text { 
    font-family: unset;
    font-size: 1rem;
    line-height: 1.2;
}
/*TEXTO "h6" CARDS*/
.cardFooter { 
    font-family: unset;
    font-size: 0.8rem;
    opacity: 0.8;
}
/*PANTALLA MENOR O IGUAL A 767 PX (md)*/
@media (max-width: 767px) {
    div.card{                   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.categorias {
    color: white;   
    text-decoration: underline;
}

.categorias:hover{
    color: white;
    text-decoration: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------*/

/* CARGADOR DE PAGINAS*/
#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: white;        
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }
  
  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  