{% extends '0base.html' %}

{% load static %}

{% block title %} Mensaje enviado {% endblock %}

{% block content %}

    <div id="Enviado">
        <br>
        <div class="container">

            <div class="alert text-center" id="confirmacion">
                <br><br><br>
                <h1><strong>Haz enviado tu mensaje!</strong></h1><br><h4>Tu opinión es muy importante para nosotros.</h4> 
                <br><br><br>
            </div>
            
        </div>
    </div>
    <br>
{% endblock %}