{% load static %}

<DOCTYPE html>  
<html lang = 'es'>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}  {% endblock %}</title>

        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

        <link rel = 'stylesheet' href = "{% static 'css/style.css' %}">  


                
    </head>

    <body>
        <div class="container-fluid">
            <div class="title">GESTIÓN DE PEDIDOS</div>
            <nav class="navbar navbar-expand-sm py-4 navbar-dark" id="navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
                    <ul class="navbar-nav mx-auto d-mx-flex"> 
                    
                        <li class="nav-item">
                            <a class="nav-link p-2 {% if request.path == '/'%} active {%endif%}" href='{% url 'home' %}'>INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 {% if request.path == '/servicioss/'%} active {%endif%}" href = '{% url 'servicios' %}'>SERVICIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 {% if request.path == '/contactoo/'%} active {%endif%}" href = '{% url 'contacto' %}'>CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 {% if request.path|slice:':7' == '/blogg/'%} active {%endif%}" href = '{% url 'blog' %}'>BLOG</a>
                        </li>
                    </ul>
                </div> 
            </nav>

            {% block content%}


            {% endblock%}       

            <footer class="py-5">
                <div class="container-fluid">
                    <p>Política de privacidad|Aviso legal|Cookies</p>
                    <p class="copy">&copy;Gestión de Pedidos 2020</p>
                </div>
            </footer>
            <div class="S3">
                <img class="logo" src='{% static 'images/logo.png'%}'>
                <a class="link" href = 'https://github.com/jhoncenteno/gestion-pedidos'><p>Ver repositorio</p></a>
            </div>

        </div>

        <div id="ftco-loader" class="show fullscreen">
            <svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="white"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="rgb(0, 87, 0)"/>
            </svg>
        </div>
               


        <script src="{% static 'vendor/jquery/jquery-3.5.1.slim.min.js'%}"></script>
        <script src="{% static 'vendor/popper/popper.min.js'%}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>


</html>
