{% extends "0base.html" %}

{%load static%}

{% block title %} Inicio {% endblock %}

{%block content%}

            <img id="imgprincipal" src='{% static 'images/principal.jpg'%}'>

            <div class="section1">
                <h4 class="S1h4">PUNTUALIDAD</h4>
                <h1 class="S1h1">EL MEJOR STOCK</h1>
                <p class="S1P">En la puerta de tu casa en menos de 48h con el envio normal. 
                En menos de 24h con el envio express.</p>
            </div>
            
            <div class="section2">
                <div class="section22">
                    <h4 class="S2h4">COMPROMISO TOTAL</h4>
                    <h1 class="S2h1">GARANTIZADO</h1>
                    <p class="S2P">Con mas de 75 años de experiencia a nuestras espaldas, desde Gestion de Pedidos 
                    tenemos los conocimientos y herramientas necesarios para llevar cualquier objeto a la puerta 
                    de su casa con puntualidad y profesionalidad.</p>
                </div>
            </div> 
   

{%endblock%}    
        
            